<!DOCTYPE html>

<html>
  <head>
    <title>hello world</title>
    <script src="/public/jquery/jquery.js"></script>
    <script src="/public/underscore/underscore.js"></script>
  </head>
  <body ng-app="App" ng-controller="AppCtrl">
    {{ message }}
    <script>
      $(function() { 
        var app = angular.module("App", []);
        app.controller("AppCtrl", function($scope) {
          $scope.message = "hello";
        });
      });
    </script>

    <script src="/public/angular/angular.js"></script>
  </body>
</html>
