<!DOCTYPE html>

<html>
  <head>
    <title>hello world</title>
    <script src="/public/angular/angular.js"></script>
    <script src="/public/jquery/jquery.js"></script>
    <script src="/public/underscore/underscore.js"></script>
  </head>
  <body>
    Hello World.
    <script>
       $(function() { 
           alert('hello');
        });
    </script>
  </body>
</html>
