<!DOCTYPE html>

<html>
  <head>
    <title>hello world</title>
    <script src="/public/jquery/jquery.js"></script>
    <script src="/public/underscore/underscore.js"></script>
  </head>
  <body ng-app="App" ng-controller="AppCtrl">
    <input type="text" ng-model="firstName" />
    <input type="text" ng-model="lastName" />
    <input type="button" ng-click="create()" value="insert" />
    <div ng-repeat="person in people">
      {{ person.firstName }} {{ person.lastName }}
    </div>
    <script>
      $(function() { 
        var app = angular.module("App", []);
        app.controller("AppCtrl", function($scope) {
          $scope.firstName = "";
          $scope.lastName = "";
          $scope.people = [];
          $scope.people.push({ firstName: "Amir", lastName: "Rajan" });
          $scope.create = function() {
            $scope.people.push({ firstName: $scope.firstName, lastName: $scope.lastName });
            $scope.firstName = "";
            $scope.lastName = "";
          }
        });
      });
    </script>

    <script src="/public/angular/angular.js"></script>
  </body>
</html>
